@font-face{
   src: url(fonts/RussoOne-Regular.ttf);
   font-family: russo; 
}

#wrapper{
    margin: 0px auto;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #bcdfff;
  
}

body{
    background: #bcdfff;;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center; 
    overflow-x: hidden;
}

.header{
    background-color:#BFD7ED;
    text-align: center;
    padding: 20px;
    border: 1px solid #60A3D9;
    font-weight: bolder;
    font-size: 30px;
    margin-bottom: 0px;
 
}

nav{
    background: black;

}

nav ul{
    list-style: none; 
    display:flex;
    flex-wrap: wrap;
    align-items: center; 
    justify-content: center; 
    font-family: russo; 
    margin: none; 
    padding: none; 
}

nav ul li{
    padding: 15px 0; 
    cursor: pointer;

}

nav ul li.items{
    position: relative;
    width: auto;
    margin: 0 16px;
    text-align: center;
}

nav ul li.items:after{
    position: absolute;
    content: '';
    left: 0; 
    bottom: 5px;
    height: 2px; 
    width: 100%; 
    background: #0074B7;
    opacity: 0; 
    transition: all 0.2s linear;
}

nav ul li.items:hover:after{
    opacity: 1;
    bottom: 8px;
}
nav ul li.logo{
   flex: 2;
   cursor: default;
   user-select: none; 

}


nav ul li a{
    color: white; 
    font-size: 20px;
    text-decoration: none; 
    transition: .4s; 
}

nav ul li:hover a{
    color: #BFD7ED; 
}

@media all and (max-width: 900px){
    nav{
        padding: 60px 150px; 
    }
    ul li.items{
        width: 100%; 
    }
   
}


.menu-logo{
    border-radius: 50%;
}

.dragon-header{
    height: 10px;
    width: 100px;
    vertical-align: middle;
    height: 100%;
}

/* Start of slideshow */
.slider{
    width: fill;
    height: 500px;
    border-radius: 10px; 
    overflow: hidden; 
    padding-left: 25%;
    padding-right: 25%;
    background: #5cc2ee;

   
}

.slides2{
    width: 1000%;
    height: 500px; 
    display: flex;
}

.slides2 input{
   display: none;
}

.slide{
    width: 20%;
    transition: 3s;
    
}

.slide img{
    width: 800px;
    height: 500px;

}
/*Manual slide navigation below*/
.navigation-manual{
    /*position: absolute;*/
    width: 100%;
    margin-top: -40px; 
    display: flex;
    justify-content: center; 

}

.manual-btn{
    border: 2px solid #40D3DC;
    padding: 5px; 
    border-radius: 10px;  
    cursor: pointer; 
    transition: 1s; 
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background: #40D3DC;
}

#radio1:checked ~ .first{
    margin-left: 0;

}
#radio2:checked ~ .first{
    margin-left: -20%;
    
}
#radio3:checked ~ .first{
    margin-left: -40%;
    
}
#radio4:checked ~ .first{
    margin-left: -60%;
    
}
/*Automatic  slide navigation below*/

.navigation-auto{
    position: absolute;
    display: flex; 
    width: 100%;
    justify-content: center;
    margin-top: 460px; 
}

.navigation-auto div{
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px; 
    transition: 1s; 
    justify-content: center;
    display: none; 
}

.navigation-auto div:not(:last-child){
  margin-right: 40px; 
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background:#40D3DC;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background:#40D3DC;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background:#40D3DC;
}
#radio4:checked ~ .navigation-auto .auto-btn4{
    background:#40D3DC;
}

/* start of the news portion */
#news {
    margin: 50px;
    border-radius: 10px; 
    padding: 5px;
    background-color: white; 
    font-family: russo; 
    font-weight: lighter;
}

.news-txt{
    color: #3343aa;
    margin: 10px;
    display: flex; 
    justify-content: center;
    font-weight: 400; 
    letter-spacing: 1px;
}

.article {
    margin: 10px;
    border: 1px rgb(242, 242, 242) solid; 
    background-color: rgb(215, 228, 245);
    display: flex; 
    align-items: center;
    justify-content: center; 
    border-radius: 5px; 

}

.article-img {
    width: 70px;
    height: 70px;
    display: flex;
    border-radius: 5px; 
    margin: 5px; 
}

.article-link {
    color: #108cf1;
    text-decoration: none;
    font-size: 20px;
    display: flex;
    justify-content: center; 
    flex-grow: 2; 
    transition: color .25s ease-in-out; 
}

.article-link:hover {
    color: #BFD7ED;
}






/*Captain's page here  */
.cu-title {
    color: white;
    text-align: center;
    font-size: 40px;
}

.captains-contact {
    text-align: center;
    display: inline-block;
    width: 100%;
}

.mojo-photo{
    float: left;
}

.emails {
    display: inline-block;
    color: white;
    font-size: 25px;
    
}

.raffi-photo {
    float: right;
    margin: 0px;
}

.captains-contact img{
    height: 400px;
    width: 400px;
}

.social-media-txt {
    color: white;
    font-size: 25px;
    text-align: center;
}

.logos {
    text-align: center;
    display: inline-block;
    width: 100%;
}

.instagram{
    float: left;
}

.twitter {
    display: inline-block;
    text-align: center;
}

.twitter img{
    height: 200px;
    width: 200px;
    margin-left: 50px;
}

.instagram img{
    margin-left: 45px;
    height: 200px;
    width: 200px;
}

.facebook img{
    height: 200px;
    width: 350px;
}

.facebook {
    float: right;
    margin: 0px;
}